/** @format */

.main {
	text-align: center;
	padding: 0px;
}

.h3-general {
    padding-bottom: 0px;
    margin: 0px;
}

.title-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	margin: 0px;
}

.search-body,
.results-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: left;
}

.title-icon {
	width: 60px;
	height: 60px;
	padding: 0px;
	padding-right: 2px;
	display: block;
}

.search-bar {
	width: 500px;
}

.results-card {
	width: 500px;
	font-family: "Oxygen", sans-serif;
}

.options-body {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    align-items: left;
}

.left-options-body {
    display: inline-block !important;
    float: left;
}

.right-options-body {
    display: inline-block !important;
    float: right;
}

.options-field {
    width: 200px;
    padding: 0px;
    margin: 0px;
}